Repository LunchTable-TCG/LTCG: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["biome check --write --no-errors-on-unmatched || true"],
  "*.{json,md}": ["biome format --write --no-errors-on-unmatched || true"]
}

feat(engine): implement spell/trap handlers — set, activate, field spells
  packages/engine/src/__tests__/spellsTraps.test.ts
  packages/engine/src/engine.ts
  packages/engine/src/rules/index.ts
  packages/engine/src/rules/spellsTraps.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(engine): implement combat handlers — attack, damage, battle resolution
  packages/engine/src/__tests__/combat.test.ts
  packages/engine/src/engine.ts
  packages/engine/src/rules/combat.ts
  packages/engine/src/rules/index.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(engine): implement vice counter system and breakdown win condition
  packages/engine/src/__tests__/vice.test.ts
  packages/engine/src/engine.ts
  packages/engine/src/rules/index.ts
  packages/engine/src/rules/vice.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(engine): implement state-based actions, draw card, and deck-out
  packages/engine/src/__tests__/phases.test.ts
  packages/engine/src/__tests__/stateBasedActions.test.ts
  packages/engine/src/engine.ts
  packages/engine/src/rules/index.ts
  packages/engine/src/rules/stateBasedActions.ts
  packages/engine/src/rules/summoning.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(config): scaffold @lunchtable-tcg/config with schema and defaults
  package.json
  packages/config/package.json
  packages/config/src/__tests__/config.test.ts
  packages/config/src/defaults.ts
  packages/config/src/index.ts
  packages/config/src/schema.ts
  packages/config/tsconfig.build.json
  packages/config/tsconfig.json
  packages/config/vitest.config.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

refactor: annotate constants.ts with @lunchtable-tcg/config migration mappings
  convex/lib/constants.ts
Due: biome check --write --no-errors-on-unmatched || true

docs: add Phase 2 implementation plan for config-driven constants
  docs/plans/2026-02-14-config-driven-constants-plan.md
Due: biome format --write --no-errors-on-unmatched || true

feat(config): expand LTCGConfig schema with marketplace, competitive, social, and theme sections
  packages/config/src/__tests__/config.test.ts
  packages/config/src/defaults.ts
  packages/config/src/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: add gameConfig singleton table and get/set helpers
  convex/lib/gameConfig.ts
  convex/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

refactor: migrate event handlers to use getGameConfig
  convex/events/handlers/economyHandler.ts
  convex/events/handlers/progressionHandler.ts
  convex/events/handlers/statsHandler.ts
Due: biome check --write --no-errors-on-unmatched || true

refactor: migrate helpers.ts to config-driven rarity, ELO, and rank values
  convex/lib/helpers.ts
Due: biome check --write --no-errors-on-unmatched || true

refactor: migrate gameplay and HTTP code to config-driven constants
  convex/gameplay/games/lobby.ts
  convex/gameplay/games/queries.ts
  convex/gameplay/games/spectator.ts
  convex/http/matchmaking.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: add admin mutations for runtime game config management
  convex/admin/gameConfig.ts
Due: biome check --write --no-errors-on-unmatched || true

refactor: deprecate constants migrated to @lunchtable-tcg/config
  convex/lib/constants.ts
Due: biome check --write --no-errors-on-unmatched || true

docs: add Phase 3 card definition format implementation plan
  docs/plans/2026-02-14-card-definition-format-plan.md
Due: biome format --write --no-errors-on-unmatched || true

feat(engine): extend CardDefinition with game metadata fields
  packages/engine/src/__tests__/cards.test.ts
  packages/engine/src/types/cards.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(engine): add comprehensive card validation for all card types
  packages/engine/src/__tests__/cards.test.ts
  packages/engine/src/cards.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(engine): add loadCardsFromArray and loadCardsFromJSON loaders
  packages/engine/src/__tests__/fixtures/sample-cards.json
  packages/engine/src/__tests__/loader.test.ts
  packages/engine/src/index.ts
  packages/engine/src/loader.ts
  packages/engine/tsconfig.json
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat(engine): add defineCardSet and mergeCardSets for card organization
  packages/engine/src/__tests__/cardSet.test.ts
  packages/engine/src/cardSet.ts
  packages/engine/src/index.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(engine): add toConvexCardRows utility for card seeding
  packages/engine/src/__tests__/seeder.test.ts
  packages/engine/src/index.ts
  packages/engine/src/seeder.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(engine): add example card set as white-label reference
  packages/engine/src/__tests__/cards.test.ts
  packages/engine/src/__tests__/fixtures/example-card-set.ts
Due: biome check --write --no-errors-on-unmatched || true

docs: add Phase 5 ElizaOS plugin expansion implementation plan
  docs/plans/2026-02-14-elizaos-plugin-expansion-plan.md
Due: biome format --write --no-errors-on-unmatched || true

feat: add admin HTTP routes for config management and card seeding
  convex/admin/seedCard.ts
  convex/http/admin.ts
  convex/router.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(plugin): add admin API client methods for config and card seeding
  packages/plugin-ltcg/src/client/LTCGApiClient.ts
  packages/plugin-ltcg/src/constants.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(plugin): add updateConfigAction operator action
  packages/plugin-ltcg/src/actions/operator/index.ts
  packages/plugin-ltcg/src/actions/operator/updateConfigAction.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(plugin): add seedCardsAction operator action
  packages/plugin-ltcg/src/actions/operator/index.ts
  packages/plugin-ltcg/src/actions/operator/seedCardsAction.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(plugin): add configProvider and wire operator actions into plugin
  packages/plugin-ltcg/src/actions/operator/seedCardsAction.ts
  packages/plugin-ltcg/src/index.ts
  packages/plugin-ltcg/src/plugin.ts
  packages/plugin-ltcg/src/providers/configProvider.ts
  packages/plugin-ltcg/src/providers/index.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(match): scaffold @lunchtable-tcg/match component with schema
  packages/lunchtable-tcg-match/package.json
  packages/lunchtable-tcg-match/src/client/index.ts
  packages/lunchtable-tcg-match/src/component/convex.config.ts
  packages/lunchtable-tcg-match/src/component/schema.ts
  packages/lunchtable-tcg-match/src/index.ts
  packages/lunchtable-tcg-match/tsconfig.build.json
  packages/lunchtable-tcg-match/tsconfig.json
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat(match): implement submitAction mutation — decide/evolve/persist loop
  packages/engine/src/engine.ts
  packages/engine/src/index.ts
  packages/lunchtable-tcg-match/src/component/mutations.ts
  packages/lunchtable-tcg-match/src/component/queries.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(match): implement LTCGMatch client class
  packages/lunchtable-tcg-match/src/client/index.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(match): register component in convex.config.ts
  bun.lock
  convex/convex.config.ts
  convex/lib/componentClients.ts
Due: biome check --write --no-errors-on-unmatched || true

test(engine): add integration test — full game loop from start to LP win
  packages/engine/src/__tests__/integration.test.ts
  packages/engine/src/engine.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: Introduce a zine-inspired visual theme with custom shadow, ink, and paper edge effects across various components.
  apps/web/app/globals.css
  apps/web/app/routes/__root.tsx
  apps/web/app/routes/_app.binder.tsx
  apps/web/app/routes/_app.decks.tsx
  apps/web/app/routes/_app.friends.tsx
  apps/web/app/routes/_app.tsx
  apps/web/app/routes/index.tsx
  apps/web/src/components/marketplace/ShopHeader.tsx
  apps/web/src/components/marketplace/ShopItemCard.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat(story): wire up story mode UI with rule-based CPU opponent
  apps/web/app/routes/_app.lunchtable.tsx
  apps/web/app/routes/_app.play.story.$chapterId.tsx
  apps/web/app/routes/_app.play.story.tsx
  apps/web/src/components/game/GameBoard.tsx
  apps/web/src/components/game/hooks/useGameBoard.ts
  apps/web/src/hooks/story/useStoryChapter.ts
  convex/gameplay/games/queries.ts
  convex/progression/seedStory.ts
  convex/progression/story.ts
  convex/progression/storyBattle.ts
  convex/progression/storyQueries.ts
  convex/progression/storyStages.ts
Due: biome check --write --no-errors-on-unmatched || true

fix: build @lunchtable-tcg/match component and deploy convex functions
  apps/web/app/routeTree.gen.ts
  bun.lock
  convex/_generated/api.d.ts
  convex/schema.ts
  package.json
  packages/lunchtable-tcg-match/src/component/_generated/api.ts
  packages/lunchtable-tcg-match/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-match/src/component/_generated/server.ts
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

docs: LTCG v2 fresh start design — cards + story, component-driven
  docs/plans/2026-02-15-ltcg-v2-fresh-start-design.md
Due: biome format --write --no-errors-on-unmatched || true

docs: v2 implementation plan — 6 tasks, ~365 lines of backend
  docs/plans/2026-02-15-ltcg-v2-implementation.md
Due: biome format --write --no-errors-on-unmatched || true
