Repository LunchTable-TCG/LTCG: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(admin): remove old upload dialog components
  apps/admin/src/components/assets/UploadDialog.tsx
  apps/admin/src/components/assets/index.ts
  apps/admin/src/components/branding/UploadAssetsDialog.tsx
  apps/admin/src/components/branding/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ai): correct Vercel AI Gateway endpoint and add authentication
  convex/admin/aiConfig.ts
  convex/admin/aiProviders.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(web): correct convexHelpers types for apiAny and useConvexQuery
  apps/admin/src/app/templates/page.tsx
  apps/web/src/lib/convexHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add economy & token integration design
  docs/plans/2026-02-04-economy-token-integration.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove lint-staged and husky pre-commit hooks
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(admin): use turbo for build to resolve @ltcg/core dependencies
  apps/admin/vercel.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(admin): fix broadcast type cast error
  apps/admin/src/app/broadcast/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(web): use filtered turbo build to avoid building unrelated packages
  apps/web/vercel.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(admin): fix cleanupExpiredRoles result type
  apps/admin/src/app/admins/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(admin): add email support for alert channels
  apps/admin/src/app/alerts/channels/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update lockfile and add email channel icon
  apps/admin/src/app/alerts/channels/page.tsx
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

test: skip useGlobalChat tests pending update for useConvexPresence
  apps/web/__tests__/hooks/social/useGlobalChat.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: build core package before running unit tests
  .github/workflows/ci.yml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

style: fix biome formatting issues
  apps/web/app/(app)/game/[lobbyId]/page.tsx
  apps/web/app/(app)/play/story/[chapterId]/battle/[stageNumber]/page.tsx
  apps/web/app/(app)/play/story/[chapterId]/page.tsx
  apps/web/app/(app)/play/story/page.tsx
  apps/web/app/(app)/settings/page.tsx
  apps/web/app/(app)/shop/open/page.tsx
  apps/web/app/api/agents/events/route.ts
  apps/web/app/profile/[playerId]/components/AgentManagement.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: resolve TypeScript build errors in convex and web apps
  apps/admin/public/sw.js
  apps/admin/src/app/analytics/economy/page.tsx
  apps/admin/src/app/api-keys/page.tsx
  apps/admin/src/app/battle-pass/page.tsx
  apps/admin/src/app/cards/page.tsx
  apps/admin/src/app/content-calendar/page.tsx
  apps/admin/src/app/economy/rng/page.tsx
  apps/admin/src/app/moderation/marketplace/[listingId]/page.tsx
  apps/admin/src/app/moderation/marketplace/page.tsx
  apps/admin/src/app/moderation/reports/[reportId]/page.tsx
  apps/admin/src/app/players/[playerId]/page.tsx
  apps/admin/src/app/settings/ai/page.tsx
  apps/admin/src/components/json-render/AIDashboardGenerator.tsx
  apps/admin/src/lib/convexHelpers.ts
  apps/admin/src/lib/json-render/catalog.tsx
  apps/web/__tests__/components/game/controls/PhaseSkipButtons.test.tsx
  apps/web/__tests__/components/game/dialogs/OptionalTriggerPrompt.test.tsx
  apps/web/app/(app)/play/story/[chapterId]/battle/[stageNumber]/page.tsx
  apps/web/app/(app)/play/story/[chapterId]/page.tsx
  apps/web/app/(app)/quests/page.tsx
  apps/web/app/(app)/settings/page.tsx
  apps/web/next.config.ts
  apps/web/src/lib/convexHelpers.ts
  apps/web/tsconfig.json
  convex/admin/admin.ts
  convex/admin/analytics.ts
  convex/admin/battlePass.ts
  convex/admin/marketplace.ts
  convex/admin/mutations.ts
  convex/admin/shopSetup.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: add biome-ignore for shopSetup db.insert cast
  convex/admin/shopSetup.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: add biome-ignore comments and relax tsconfig for build
  apps/web/tsconfig.json
  convex/social/leaderboards.ts
  convex/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: resolve CI type-check failures
  apps/web/tsconfig.json
  convex/admin/roles.ts
  convex/tsconfig.json
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

style: fix biome formatting issues
  apps/admin/public/sw.js
  apps/admin/src/app/analytics/economy/page.tsx
  apps/admin/src/app/economy/revenue/page.tsx
  apps/admin/src/app/economy/stripe/page.tsx
  apps/admin/src/app/moderation/page.tsx
  apps/admin/src/app/moderation/reports/[reportId]/page.tsx
  apps/admin/src/app/moderation/reports/page.tsx
  apps/admin/src/app/news/page.tsx
  apps/admin/src/app/quests/[questId]/page.tsx
  apps/admin/src/app/quests/page.tsx
  apps/admin/src/app/seasons/[seasonId]/page.tsx
  apps/admin/src/app/seasons/page.tsx
  apps/admin/src/app/settings/config/page.tsx
  apps/admin/src/app/shop/page.tsx
  apps/admin/src/app/story/page.tsx
  apps/admin/src/app/templates/page.tsx
  apps/admin/src/app/tournaments/page.tsx
  apps/admin/src/app/treasury/page.tsx
  apps/admin/src/app/treasury/policies/page.tsx
  apps/admin/src/app/treasury/wallets/page.tsx
  apps/web/app/(app)/play/story/[chapterId]/page.tsx
  apps/web/app/(app)/quests/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: restore root vercel.json for web deployment
  vercel.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update Convex API usage and enhance environment variable configuration
  apps/admin/src/app/content-calendar/page.tsx
  apps/admin/src/app/moderation/marketplace/[listingId]/page.tsx
  apps/admin/src/lib/convexHelpers.ts
  turbo.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: remove fallback for optional bidderUsername and simplify refund dialog call
  apps/admin/src/app/moderation/marketplace/[listingId]/page.tsx
  apps/admin/src/app/moderation/marketplace/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update landing page and footer links, enhance type safety in Convex API usage
  apps/admin/src/lib/convexHelpers.ts
  apps/web/app/(marketing)/page.tsx
  apps/web/app/(marketing)/token/page.tsx
  apps/web/app/globals.css
  apps/web/public/assets/landing-bg.jpg
  apps/web/src/components/layout/Footer.tsx
  apps/web/src/components/marketplace/TokenPurchaseFlow.tsx
  apps/web/src/lib/convexApiWrapper.ts
  apps/web/src/lib/convexHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: enhance TokenPage design and improve transaction history hook
  apps/web/app/(marketing)/token/page.tsx
  apps/web/src/hooks/economy/useTransactionHistory.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement guilds and direct messaging systems
  apps/admin/public/sw.js
  apps/web/app/(app)/battle-pass/components/PremiumUpgradeModal.tsx
  apps/web/app/(app)/battle-pass/page.tsx
  apps/web/app/(app)/guilds/components/NoGuildView.tsx
  apps/web/app/(app)/guilds/page.tsx
  apps/web/app/(app)/leaderboards/page.tsx
  apps/web/src/components/social/PlayerCardModal.tsx
  apps/web/src/hooks/guilds/index.ts
  apps/web/src/hooks/guilds/useCreateGuild.ts
  apps/web/src/hooks/guilds/useGuild.ts
  apps/web/src/hooks/guilds/useGuildChat.ts
  apps/web/src/hooks/guilds/useGuildDiscovery.ts
  apps/web/src/hooks/guilds/useGuildInvites.ts
  apps/web/src/hooks/guilds/useMyGuild.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/progression/useBattlePass.ts
  apps/web/src/hooks/progression/useQuests.ts
  apps/web/src/hooks/social/useDMChat.ts
  apps/web/src/hooks/social/useDMConversations.ts
  apps/web/src/hooks/social/usePlayerCard.ts
  convex/_generated/api.d.ts
  convex/lib/errorCodes.ts
  convex/progression/quests.ts
  convex/progression/storyBattle.ts
  convex/schema.ts
  convex/social/dm.ts
  convex/social/friends.ts
  convex/social/guilds/chat.ts
  convex/social/guilds/core.ts
  convex/social/guilds/discovery.ts
  convex/social/guilds/index.ts
  convex/social/guilds/invites.ts
  convex/social/guilds/members.ts
  convex/social/guilds/requests.ts
  convex/social/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: reorganize imports and clean up code in guilds and chat components
  apps/web/app/(app)/guilds/components/GuildCard.tsx
  apps/web/app/(app)/guilds/components/GuildDashboard.tsx
  apps/web/app/(app)/guilds/components/GuildHeader.tsx
  apps/web/app/(app)/guilds/components/GuildInvitePanel.tsx
  apps/web/app/(app)/guilds/components/GuildMemberList.tsx
  apps/web/app/(app)/guilds/components/GuildSettings.tsx
  apps/web/app/(app)/guilds/components/NoGuildView.tsx
  apps/web/app/(app)/guilds/components/index.ts
  apps/web/app/(app)/guilds/create/page.tsx
  apps/web/app/(app)/guilds/page.tsx
  apps/web/app/(app)/lunchtable/components/GlobalChat.tsx
  apps/web/app/(app)/social/page.tsx
  apps/web/app/(marketing)/token/page.tsx
  apps/web/app/profile/[playerId]/page.tsx
  apps/web/src/components/layout/Navbar.tsx
  apps/web/src/components/social/PlayerCardModal.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/hooks/economy/useTransactionHistory.ts
  apps/web/src/hooks/guilds/useGuildChat.ts
  apps/web/src/hooks/social/useDMConversations.ts
  convex/_generated/api.d.ts
  convex/gameplay/games/lifecycle.ts
  convex/progression/quests.ts
  convex/progression/storyBattle.ts
  convex/scripts/debugCardArchetypes.ts
  convex/scripts/debugStoryData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: enhance guild invite and challenge systems with wager functionality
  apps/web/app/(app)/guilds/components/GuildInvitePanel.tsx
  apps/web/app/(app)/guilds/components/GuildMemberList.tsx
  apps/web/app/(app)/guilds/components/NoGuildView.tsx
  apps/web/app/(app)/guilds/create/page.tsx
  apps/web/app/(app)/lunchtable/components/ChallengeConfirmDialog.tsx
  apps/web/app/(app)/lunchtable/components/GlobalChat.tsx
  apps/web/app/(app)/lunchtable/components/IncomingChallengeNotification.tsx
  apps/web/app/(app)/lunchtable/components/PlayerProfileDialog.tsx
  apps/web/app/(app)/play/story/[chapterId]/battle/[stageNumber]/page.tsx
  apps/web/src/hooks/game/useGameLobby.ts
  apps/web/src/hooks/guilds/useCreateGuild.ts
  apps/web/src/hooks/guilds/useGuild.ts
  apps/web/src/hooks/guilds/useGuildChat.ts
  apps/web/src/hooks/guilds/useGuildDiscovery.ts
  apps/web/src/hooks/guilds/useGuildInvites.ts
  apps/web/src/hooks/guilds/useMyGuild.ts
  apps/web/src/lib/useMutationWithToast.ts
  convex/_generated/api.d.ts
  convex/economy/economy.ts
  convex/gameplay/games/lifecycle.ts
  convex/gameplay/games/lobby.ts
  convex/gameplay/games/queries.ts
  convex/lib/returnValidators.ts
  convex/lib/types.ts
  convex/progression/storyBattle.ts
  convex/schema.ts
  convex/scripts/testStoryBattle.ts
  convex/social/challenges.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: clean up code formatting and improve challenge handling
  apps/web/app/(app)/lunchtable/components/ChallengeConfirmDialog.tsx
  apps/web/src/hooks/guilds/useGuild.ts
  apps/web/src/hooks/guilds/useGuildChat.ts
  apps/web/src/hooks/guilds/useGuildInvites.ts
  convex/gameplay/games/lobby.ts
  convex/infrastructure/crons.ts
  convex/progression/storyBattle.ts
  convex/scripts/testStoryBattle.ts
  convex/social/challenges.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: enhance tournament and inbox functionalities with user record checks
  apps/web/src/hooks/social/useInbox.ts
  convex/economy/economy.ts
  convex/infrastructure/crons.ts
  convex/lib/errorCodes.ts
  convex/lib/returnValidators.ts
  convex/lib/types.ts
  convex/schema.ts
  convex/social/inbox.ts
  convex/social/tournamentCron.ts
  convex/social/userTournaments.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: update archetype icons and enhance tournament functionalities
  apps/docs-players/public/icons/archetypes/abyssal_horrors.png
  apps/docs-players/public/icons/archetypes/arcane_mages.png
  apps/docs-players/public/icons/archetypes/celestial_guardians.png
  apps/docs-players/public/icons/archetypes/divine_knights.png
  apps/docs-players/public/icons/archetypes/infernal_dragons.png
  apps/docs-players/public/icons/archetypes/mechanical_constructs.png
  apps/docs-players/public/icons/archetypes/nature_spirits.png
  apps/docs-players/public/icons/archetypes/shadow_assassins.png
  apps/docs-players/public/icons/archetypes/storm_elementals.png
  apps/docs-players/public/icons/archetypes/undead_legion.png
  apps/docs-players/src/content/docs/rules/archetypes.mdx
  apps/web/app/(app)/binder/components/BinderCard.tsx
  apps/web/app/(app)/tournaments/components/CreateTournamentModal.tsx
  apps/web/app/(app)/tournaments/components/JoinByCodeModal.tsx
  apps/web/app/(app)/tournaments/components/UserTournamentCard.tsx
  apps/web/app/(app)/tournaments/components/index.ts
  apps/web/app/(app)/tournaments/page.tsx
  apps/web/public/brand/social/square-1024.png
  apps/web/src/components/story/StoryChapterCard.tsx
  apps/web/src/hooks/social/useUserTournaments.ts
  apps/web/src/lib/archetypeThemes.ts
  convex/_generated/api.d.ts
  convex/lib/returnValidators.ts
  convex/schema.ts
  convex/social/dm.ts
  convex/social/tournaments.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: extend user validation schema with additional tracking fields
  convex/lib/returnValidators.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: simplify full user validator to accept any valid user document
  convex/lib/returnValidators.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: integrate social module and enhance API key management
  convex/_generated/api.d.ts
  convex/admin/templates.ts
  convex/ai/adminAgentApi.ts
  convex/ai/providers.ts
  convex/social.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: enhance quest and achievement management with improved ID validation
  apps/admin/public/sw.js
  apps/admin/src/app/quests/[questId]/page.tsx
  apps/admin/src/app/quests/achievement/[achievementId]/page.tsx
  convex/lib/storyConstants.ts
  convex/seeds/storyChapters.ts
  convex/seeds/storyStages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: update story chapters and archetypes for new gameplay structure
  convex/lib/storyConstants.ts
  convex/seeds/storyChapters.ts
  convex/seeds/storyStages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: ((any of: *.{json,jsonc}) or (any of: *.{md,mdx,yml,yaml})) or (any of: package.json)
