Repository LunchTable-TCG/LTCG: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: update AI deck archetypes and improve initialization logic
  convex/progression/storyBattle.ts
  convex/seeds/storyChapters.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: update AI opponent deck codes in story chapters
  convex/seeds/storyChapters.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: enhance error handling and diagnostics in battle initialization
  apps/web/app/(app)/play/story/[chapterId]/battle/[stageNumber]/page.tsx
  convex/_generated/api.d.ts
  convex/lib/errorCodes.ts
  convex/progression/storyBattle.ts
  convex/progression/storyDiagnostic.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: add streaming infrastructure (disabled by default)
  STREAMING-DEPLOYMENT.md
  STREAMING.md
  apps/web/app/api/streaming/start/route.ts
  apps/web/app/api/streaming/status/route.ts
  apps/web/app/api/streaming/stop/route.ts
  apps/web/app/api/webhooks/livekit/route.ts
  apps/web/app/onboarding/components/WelcomePopup.tsx
  apps/web/app/onboarding/page.tsx
  apps/web/app/stream/overlay/page.tsx
  apps/web/package.json
  apps/web/public/docs/streaming-guide.md
  apps/web/src/components/streaming/DecisionPanel.tsx
  apps/web/src/components/streaming/EventFeedTicker.tsx
  apps/web/src/components/streaming/GameBoardSpectator.tsx
  apps/web/src/components/streaming/StreamerInfoPanel.tsx
  apps/web/src/components/streaming/StreamingSettingsPanel.tsx
  apps/web/src/lib/streaming/encryption.ts
  apps/web/src/lib/streaming/featureFlag.ts
  apps/web/src/lib/streaming/livekit.ts
  apps/web/src/lib/streaming/tokens.ts
  bun.lock
  convex/_generated/api.d.ts
  convex/agents/decisions.ts
  convex/agents/streaming.ts
  convex/gameplay/games/queries.ts
  convex/schema.ts
  convex/social/globalChat.ts
  convex/streaming/livekit.ts
  convex/streaming/sessions.ts
  convex/wallet/createAgentWallet.ts
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

docs: add agent API integration design
  docs/plans/2026-02-05-agent-api-design.md
Due: biome format --write --no-errors-on-unmatched || true

feat: implement Phase 1 of agent API integration
  apps/web/app/api/game/attack/route.ts
  apps/web/app/api/game/create/route.ts
  apps/web/app/api/game/end-turn/route.ts
  apps/web/app/api/game/join/route.ts
  apps/web/app/api/game/legal-moves/route.ts
  apps/web/app/api/game/middleware/README.md
  apps/web/app/api/game/middleware/auth.ts
  apps/web/app/api/game/state/route.ts
  apps/web/app/api/game/summon/route.ts
  convex/gameplay/legalMoves.ts
  docs/agents/api-testing-guide.md
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: add complete streaming UI system
  STREAMING-UI-COMPLETE.md
  apps/web/app/(app)/play/story/[chapterId]/battle/[stageNumber]/page.tsx
  apps/web/app/(app)/tournaments/components/CreateTournamentModal.tsx
  apps/web/app/(app)/tournaments/components/JoinByCodeModal.tsx
  apps/web/app/(app)/tournaments/components/UserTournamentCard.tsx
  apps/web/app/(app)/tournaments/page.tsx
  apps/web/app/api/streaming/start/route.ts
  apps/web/app/api/streaming/status/route.ts
  apps/web/app/api/streaming/stop/route.ts
  apps/web/app/api/webhooks/livekit/route.ts
  apps/web/app/onboarding/components/WelcomePopup.tsx
  apps/web/app/stream/overlay/page.tsx
  apps/web/src/components/streaming/AgentStreamingSettingsPanel.tsx
  apps/web/src/components/streaming/DecisionPanel.tsx
  apps/web/src/components/streaming/EventFeedTicker.tsx
  apps/web/src/components/streaming/GameBoardSpectator.tsx
  apps/web/src/components/streaming/StreamAnalyticsDashboard.tsx
  apps/web/src/components/streaming/StreamNotifications.tsx
  apps/web/src/components/streaming/StreamStatusWidget.tsx
  apps/web/src/components/streaming/StreamerInfoPanel.tsx
  apps/web/src/components/streaming/StreamingSettingsPanel.tsx
  apps/web/src/hooks/useStreaming.ts
  apps/web/src/lib/streaming/encryption.ts
  apps/web/src/lib/streaming/featureFlag.ts
  apps/web/src/lib/streaming/livekit.ts
  apps/web/src/lib/streaming/tokens.ts
  convex/admin/templates.ts
  convex/agents/decisions.ts
  convex/agents/streaming.ts
  convex/ai/adminAgentApi.ts
  convex/lib/errorCodes.ts
  convex/progression/storyBattle.ts
  convex/schema.ts
  convex/social/userTournaments.ts
  convex/streaming/livekit.ts
  convex/streaming/sessions.ts
  convex/wallet/createAgentWallet.ts
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: implement Phase 2 - webhook notification system
  apps/web/app/api/game/webhooks/[webhookId]/route.ts
  apps/web/app/api/game/webhooks/route.ts
  convex/gameplay/gameEngine/turns.ts
  convex/gameplay/gameEvents.ts
  convex/gameplay/games/lobby.ts
  convex/gameplay/webhooks.ts
  docs/agents/webhook-testing-guide.md
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: add LiveKit-based browser streaming with screen + webcam
  apps/web/app/(app)/streaming/live/page.tsx
  apps/web/app/api/streaming/room/route.ts
  apps/web/src/components/streaming/LiveStreamingRoom.tsx
  apps/web/src/components/streaming/MediaCapture.tsx
  apps/web/src/lib/streaming/livekitRoom.ts
  bun.lock
  packages/mcp-server/.gitignore
  packages/mcp-server/package.json
  packages/mcp-server/src/index.ts
  packages/mcp-server/tsconfig.json
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: complete LiveKit browser streaming with composite overlay
  STREAMING-LIVEKIT-STATUS.md
  apps/web/app/api/streaming/room/route.ts
  apps/web/app/stream/overlay/page.tsx
  apps/web/src/components/streaming/StreamCompositeView.tsx
  packages/mcp-server/.env.example
  packages/mcp-server/EXAMPLE_USAGE.md
  packages/mcp-server/IMPLEMENTATION_SUMMARY.md
  packages/mcp-server/PROMPTS.md
  packages/mcp-server/QUICKSTART.md
  packages/mcp-server/README.md
  packages/mcp-server/examples/.env.example
  packages/mcp-server/examples/INDEX.md
  packages/mcp-server/examples/README.md
  packages/mcp-server/examples/SETUP.md
  packages/mcp-server/examples/claude-desktop.json
  packages/mcp-server/examples/cline.json
  packages/mcp-server/examples/schema.json
  packages/mcp-server/examples/setup.sh
  packages/mcp-server/examples/vscode.json
  packages/mcp-server/package.json
  packages/mcp-server/src/config.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server-setup.ts
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

docs: add card template designer design document
  docs/plans/2026-02-05-card-template-designer.md
Due: biome format --write --no-errors-on-unmatched || true

feat: complete Phase 4 - OpenClaw skill and reference implementations
  integrations/openclaw-skill/INSTALLATION.md
  integrations/openclaw-skill/QUICKSTART.md
  integrations/openclaw-skill/README.md
  integrations/openclaw-skill/SCENARIOS.txt
  integrations/openclaw-skill/examples/README.md
  integrations/openclaw-skill/examples/advanced-agent.ts
  integrations/openclaw-skill/examples/basic-agent.py
  integrations/openclaw-skill/examples/basic-agent.ts
  integrations/openclaw-skill/lunchtable-tcg.md
  integrations/openclaw-skill/package.json
  integrations/openclaw-skill/scenarios/README.md
  integrations/openclaw-skill/scenarios/first-game.md
  integrations/openclaw-skill/scenarios/strategic-play.md
  integrations/openclaw-skill/scenarios/tournament-bot.md
  integrations/openclaw-skill/scenarios/webhook-setup.md
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: add card backgrounds and template schemas
  convex/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: add card backgrounds queries/mutations
  convex/cardBackgrounds.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: add card type templates queries/mutations
  convex/cardTypeTemplates.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: add card background upload utility with sharp
  apps/admin/package.json
  apps/admin/src/lib/utils/uploadCardBackgrounds.ts
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: add background upload UI page
  apps/admin/src/app/cards/upload-backgrounds/page.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: create template designer page with mode toggle
  apps/admin/src/app/cards/template-designer/page.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: create template designer and batch renderer scaffolds
  apps/admin/src/components/cards/BatchRenderer.tsx
  apps/admin/src/components/cards/TemplateDesigner.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: create background picker dialog
  apps/admin/src/components/cards/BackgroundPicker.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: integrate Konva canvas with background picker
  apps/admin/src/components/cards/TemplateDesigner.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: add draggable text fields with transformer
  apps/admin/src/components/cards/TemplateDesigner.tsx
Due: biome check --write --no-errors-on-unmatched || true

fix: resolve linter errors in TemplateDesigner
  apps/admin/src/components/cards/TemplateDesigner.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: complete agent autonomy - add all missing game actions
  apps/web/app/api/game/activate-effect/route.ts
  apps/web/app/api/game/activate-spell/route.ts
  apps/web/app/api/game/activate-trap/route.ts
  apps/web/app/api/game/chain/README.md
  apps/web/app/api/game/chain/add/route.ts
  apps/web/app/api/game/chain/pass/route.ts
  apps/web/app/api/game/chain/resolve/route.ts
  apps/web/app/api/game/chain/state/route.ts
  apps/web/app/api/game/change-position/route.ts
  apps/web/app/api/game/flip-summon/route.ts
  apps/web/app/api/game/phase/advance/route.ts
  apps/web/app/api/game/phase/skip-battle/route.ts
  apps/web/app/api/game/phase/skip-to-end/route.ts
  apps/web/app/api/game/set-monster/route.ts
  apps/web/app/api/game/set-spell-trap/route.ts
  apps/web/app/api/game/surrender/route.ts
  convex/gameplay/games/queries.ts
  convex/gameplay/phaseManager.ts
  docs/agents/api-testing-guide.md
  integrations/openclaw-skill/lunchtable-tcg.md
  packages/mcp-server/README.md
  packages/mcp-server/src/server-setup.ts
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

fix: resolve biome linter warnings
  apps/admin/src/lib/utils/uploadCardBackgrounds.ts
  apps/web/app/api/game/join/route.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: add card back upload with UI button
  apps/admin/scripts/add-card-back-to-convex.ts
  apps/admin/scripts/upload-card-back.ts
  apps/admin/src/app/cards/upload-backgrounds/page.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: add card back image
  apps/web/public/card-back.png
Due: none

feat: restructure OpenClaw skill for ClawHub distribution
  skills/lunchtable/lunchtable-tcg/.clawhub.json
  skills/lunchtable/lunchtable-tcg/.validate.sh
  skills/lunchtable/lunchtable-tcg/CHANGELOG.md
  skills/lunchtable/lunchtable-tcg/INSTALLATION.md
  skills/lunchtable/lunchtable-tcg/README.md
  skills/lunchtable/lunchtable-tcg/SKILL.md
  skills/lunchtable/lunchtable-tcg/SUBMISSION.md
  skills/lunchtable/lunchtable-tcg/examples/README.md
  skills/lunchtable/lunchtable-tcg/examples/advanced-agent.ts
  skills/lunchtable/lunchtable-tcg/examples/basic-agent.py
  skills/lunchtable/lunchtable-tcg/examples/basic-agent.ts
  skills/lunchtable/lunchtable-tcg/package.json
  skills/lunchtable/lunchtable-tcg/scenarios/README.md
  skills/lunchtable/lunchtable-tcg/scenarios/first-game.md
  skills/lunchtable/lunchtable-tcg/scenarios/strategic-play.md
  skills/lunchtable/lunchtable-tcg/scenarios/tournament-bot.md
  skills/lunchtable/lunchtable-tcg/scenarios/webhook-setup.md
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: display card-back.png for face-down cards on gameboard
  apps/web/src/components/game/board/cards/BoardCard.tsx
Due: biome check --write --no-errors-on-unmatched || true

fix: improve attack overlay accessibility with button element
  apps/web/src/components/game/board/cards/BoardCard.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: create text field editor with full styling controls
  apps/admin/src/components/cards/TextFieldEditor.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: integrate text field editor into designer
  apps/admin/src/components/cards/TemplateDesigner.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: create card data panel with copy buttons
  apps/admin/src/components/cards/CardDataPanel.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: integrate live preview with card data
  apps/admin/src/components/cards/TemplateDesigner.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: implement save template functionality
  apps/admin/src/components/cards/TemplateDesigner.tsx
Due: biome check --write --no-errors-on-unmatched || true

feat: add LUNCH token address to .env.example
  .env.example
Due: none

feat: update streaming analytics page with new charts and metrics
  PUBLISHING_COMPLETE.md
  SKILL_RESTRUCTURE_SUMMARY.md
  apps/admin/public/sw.js
  apps/admin/src/app/analytics/streaming/page.tsx
  apps/admin/src/components/layout/AdminSidebar.tsx
  apps/web/public/assets/cards/back_fire.png
  apps/web/public/assets/cards/back_premium.png
  apps/web/public/assets/cards/back_starter.png
  bun.lock
  convex/_generated/api.d.ts
  docs/plans/2026-02-05-card-template-designer-implementation.md
  skills/lunchtable/lunchtable-tcg/.github/workflows/publish.yml
  skills/lunchtable/lunchtable-tcg/GETTING_STARTED_PUBLISHING.md
  skills/lunchtable/lunchtable-tcg/PUBLISH.md
  skills/lunchtable/lunchtable-tcg/PUBLISHING_FLOW.md
  skills/lunchtable/lunchtable-tcg/PUBLISHING_SUMMARY.md
  skills/lunchtable/lunchtable-tcg/QUICKSTART_PUBLISH.md
  skills/lunchtable/lunchtable-tcg/README.md
  skills/lunchtable/lunchtable-tcg/README_PUBLISHING.md
  skills/lunchtable/lunchtable-tcg/SUBMISSION.md
  skills/lunchtable/lunchtable-tcg/TESTING_CHECKLIST.md
  skills/lunchtable/lunchtable-tcg/publish.sh
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat: add logging sanitization to prevent sensitive data in logs
  apps/web/app/api/streaming/room/route.ts
  apps/web/app/api/streaming/start/route.ts
  apps/web/app/api/streaming/status/route.ts
  apps/web/app/api/streaming/stop/route.ts
  apps/web/app/api/webhooks/livekit/route.ts
  apps/web/src/lib/streaming/logging.ts
Due: biome check --write --no-errors-on-unmatched || true

Path conditions:
  biome check --write --no-errors-on-unmatched || true: any of: *.{js,jsx,ts,tsx}
  biome format --write --no-errors-on-unmatched || true: any of: *.{json,md}
