Repository LunchTable-TCG/LTCG: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat(combat): add LTCGCombat client class
  packages/lunchtable-tcg-combat/src/client/index.ts
Due: biome check --write --no-errors-on-unmatched || true

fix: resolve build issues in combat and effects packages
  packages/lunchtable-tcg-combat/src/component/_generated/api.ts
  packages/lunchtable-tcg-effects/src/component/_generated/api.ts
  packages/lunchtable-tcg-effects/src/component/effects.ts
Due: biome check --write --no-errors-on-unmatched || true

docs: add bridge module example for component integration
  packages/lunchtable-tcg-core/examples/bridge.ts
Due: biome check --write --no-errors-on-unmatched || true

chore: scaffold 7 new @lunchtable-tcg component packages
  packages/lunchtable-tcg-guilds/package.json
  packages/lunchtable-tcg-guilds/src/client/index.ts
  packages/lunchtable-tcg-guilds/src/component/convex.config.ts
  packages/lunchtable-tcg-guilds/tsconfig.build.json
  packages/lunchtable-tcg-guilds/tsconfig.json
  packages/lunchtable-tcg-leaderboard/package.json
  packages/lunchtable-tcg-leaderboard/src/client/index.ts
  packages/lunchtable-tcg-leaderboard/src/component/convex.config.ts
  packages/lunchtable-tcg-leaderboard/tsconfig.build.json
  packages/lunchtable-tcg-leaderboard/tsconfig.json
  packages/lunchtable-tcg-marketplace/package.json
  packages/lunchtable-tcg-marketplace/src/client/index.ts
  packages/lunchtable-tcg-marketplace/src/component/convex.config.ts
  packages/lunchtable-tcg-marketplace/tsconfig.build.json
  packages/lunchtable-tcg-marketplace/tsconfig.json
  packages/lunchtable-tcg-progression/package.json
  packages/lunchtable-tcg-progression/src/client/index.ts
  packages/lunchtable-tcg-progression/src/component/convex.config.ts
  packages/lunchtable-tcg-progression/tsconfig.build.json
  packages/lunchtable-tcg-progression/tsconfig.json
  packages/lunchtable-tcg-social/package.json
  packages/lunchtable-tcg-social/src/client/index.ts
  packages/lunchtable-tcg-social/src/component/convex.config.ts
  packages/lunchtable-tcg-social/tsconfig.build.json
  packages/lunchtable-tcg-social/tsconfig.json
  packages/lunchtable-tcg-tournaments/package.json
  packages/lunchtable-tcg-tournaments/src/client/index.ts
  packages/lunchtable-tcg-tournaments/src/component/convex.config.ts
  packages/lunchtable-tcg-tournaments/tsconfig.build.json
  packages/lunchtable-tcg-tournaments/tsconfig.json
  packages/lunchtable-tcg-wager/package.json
  packages/lunchtable-tcg-wager/src/client/index.ts
  packages/lunchtable-tcg-wager/src/component/convex.config.ts
  packages/lunchtable-tcg-wager/tsconfig.build.json
  packages/lunchtable-tcg-wager/tsconfig.json
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat(social): add social component config, schema, and generated stubs
  packages/lunchtable-tcg-social/src/component/_generated/api.ts
  packages/lunchtable-tcg-social/src/component/_generated/component.ts
  packages/lunchtable-tcg-social/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-social/src/component/_generated/server.ts
  packages/lunchtable-tcg-social/src/component/convex.config.ts
  packages/lunchtable-tcg-social/src/component/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(guilds): add guild component config, schema, and generated stubs
  packages/lunchtable-tcg-guilds/src/component/_generated/api.ts
  packages/lunchtable-tcg-guilds/src/component/_generated/component.ts
  packages/lunchtable-tcg-guilds/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-guilds/src/component/_generated/server.ts
  packages/lunchtable-tcg-guilds/src/component/convex.config.ts
  packages/lunchtable-tcg-guilds/src/component/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(wager): add wager component config, schema, and generated stubs
  packages/lunchtable-tcg-wager/src/component/_generated/api.ts
  packages/lunchtable-tcg-wager/src/component/_generated/component.ts
  packages/lunchtable-tcg-wager/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-wager/src/component/_generated/server.ts
  packages/lunchtable-tcg-wager/src/component/convex.config.ts
  packages/lunchtable-tcg-wager/src/component/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(tournaments): add tournament component config, schema, and generated stubs
  packages/lunchtable-tcg-tournaments/src/component/_generated/api.ts
  packages/lunchtable-tcg-tournaments/src/component/_generated/component.ts
  packages/lunchtable-tcg-tournaments/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-tournaments/src/component/_generated/server.ts
  packages/lunchtable-tcg-tournaments/src/component/convex.config.ts
  packages/lunchtable-tcg-tournaments/src/component/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(progression): add progression component config, schema, and generated stubs
  packages/lunchtable-tcg-progression/src/component/_generated/api.ts
  packages/lunchtable-tcg-progression/src/component/_generated/component.ts
  packages/lunchtable-tcg-progression/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-progression/src/component/_generated/server.ts
  packages/lunchtable-tcg-progression/src/component/convex.config.ts
  packages/lunchtable-tcg-progression/src/component/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(leaderboard): add leaderboard component config, schema, and generated stubs
  packages/lunchtable-tcg-leaderboard/src/component/_generated/api.ts
  packages/lunchtable-tcg-leaderboard/src/component/_generated/component.ts
  packages/lunchtable-tcg-leaderboard/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-leaderboard/src/component/_generated/server.ts
  packages/lunchtable-tcg-leaderboard/src/component/convex.config.ts
  packages/lunchtable-tcg-leaderboard/src/component/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(marketplace): add marketplace component config, schema, and generated stubs
  packages/lunchtable-tcg-marketplace/src/component/_generated/api.ts
  packages/lunchtable-tcg-marketplace/src/component/_generated/component.ts
  packages/lunchtable-tcg-marketplace/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-marketplace/src/component/_generated/server.ts
  packages/lunchtable-tcg-marketplace/src/component/convex.config.ts
  packages/lunchtable-tcg-marketplace/src/component/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(wager): add escrow and transaction functions with client class
  packages/lunchtable-tcg-wager/src/client/index.ts
  packages/lunchtable-tcg-wager/src/component/escrow.ts
  packages/lunchtable-tcg-wager/src/component/transactions.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(social): add friends, messages, and presence functions with client class
  packages/lunchtable-tcg-social/src/client/index.ts
  packages/lunchtable-tcg-social/src/component/friends.ts
  packages/lunchtable-tcg-social/src/component/messages.ts
  packages/lunchtable-tcg-social/src/component/presence.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(marketplace): add listings, bids, shop, and analytics functions with client class
  packages/lunchtable-tcg-marketplace/src/client/index.ts
  packages/lunchtable-tcg-marketplace/src/component/analytics.ts
  packages/lunchtable-tcg-marketplace/src/component/bids.ts
  packages/lunchtable-tcg-marketplace/src/component/listings.ts
  packages/lunchtable-tcg-marketplace/src/component/shop.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(leaderboard): add rankings, snapshots, and match history functions with client class
  packages/lunchtable-tcg-guilds/src/client/index.ts
  packages/lunchtable-tcg-guilds/src/component/guilds.ts
  packages/lunchtable-tcg-guilds/src/component/invites.ts
  packages/lunchtable-tcg-guilds/src/component/members.ts
  packages/lunchtable-tcg-leaderboard/src/client/index.ts
  packages/lunchtable-tcg-leaderboard/src/component/matches.ts
  packages/lunchtable-tcg-leaderboard/src/component/rankings.ts
  packages/lunchtable-tcg-leaderboard/src/component/snapshots.ts
  packages/lunchtable-tcg-tournaments/src/client/index.ts
  packages/lunchtable-tcg-tournaments/src/component/brackets.ts
  packages/lunchtable-tcg-tournaments/src/component/history.ts
  packages/lunchtable-tcg-tournaments/src/component/participants.ts
  packages/lunchtable-tcg-tournaments/src/component/tournaments.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(progression): add achievements, quests, battlepass, and XP functions with client class
  packages/lunchtable-tcg-progression/src/client/index.ts
  packages/lunchtable-tcg-progression/src/component/achievements.ts
  packages/lunchtable-tcg-progression/src/component/battlepass.ts
  packages/lunchtable-tcg-progression/src/component/quests.ts
  packages/lunchtable-tcg-progression/src/component/xp.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(guilds): add chat and discovery functions with client updates
  packages/lunchtable-tcg-guilds/src/client/index.ts
  packages/lunchtable-tcg-guilds/src/component/_generated/api.ts
  packages/lunchtable-tcg-guilds/src/component/chat.ts
  packages/lunchtable-tcg-guilds/src/component/discovery.ts
Due: biome check --write --no-errors-on-unmatched || true

docs: add cards component extraction design
  docs/plans/2026-02-13-cards-component-design.md
Due: biome format --write --no-errors-on-unmatched || true

feat: add lunchtable-tcg-cards component package
  packages/lunchtable-tcg-cards/package.json
  packages/lunchtable-tcg-cards/src/client/index.ts
  packages/lunchtable-tcg-cards/src/component/_generated/api.ts
  packages/lunchtable-tcg-cards/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-cards/src/component/_generated/server.ts
  packages/lunchtable-tcg-cards/src/component/cards.ts
  packages/lunchtable-tcg-cards/src/component/convex.config.ts
  packages/lunchtable-tcg-cards/src/component/decks.ts
  packages/lunchtable-tcg-cards/src/component/schema.ts
  packages/lunchtable-tcg-cards/src/component/seeds.ts
  packages/lunchtable-tcg-cards/src/index.ts
  packages/lunchtable-tcg-cards/tsconfig.build.json
  packages/lunchtable-tcg-cards/tsconfig.json
  packages/lunchtable-tcg-guilds/package.json
  packages/lunchtable-tcg-leaderboard/package.json
  packages/lunchtable-tcg-marketplace/package.json
  packages/lunchtable-tcg-progression/package.json
  packages/lunchtable-tcg-tournaments/package.json
  packages/lunchtable-tcg-wager/package.json
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat(economy): add lunchtable-tcg-economy component package
  bun.lock
  packages/lunchtable-tcg-economy/package.json
  packages/lunchtable-tcg-economy/src/client/index.ts
  packages/lunchtable-tcg-economy/src/component/_generated/api.ts
  packages/lunchtable-tcg-economy/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-economy/src/component/_generated/server.ts
  packages/lunchtable-tcg-economy/src/component/convex.config.ts
  packages/lunchtable-tcg-economy/src/component/currency.ts
  packages/lunchtable-tcg-economy/src/component/promoCodes.ts
  packages/lunchtable-tcg-economy/src/component/rewards.ts
  packages/lunchtable-tcg-economy/src/component/sales.ts
  packages/lunchtable-tcg-economy/src/component/schema.ts
  packages/lunchtable-tcg-economy/src/component/seeds.ts
  packages/lunchtable-tcg-economy/src/component/shop.ts
  packages/lunchtable-tcg-economy/src/index.ts
  packages/lunchtable-tcg-economy/tsconfig.build.json
  packages/lunchtable-tcg-economy/tsconfig.json
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat(admin): add lunchtable-tcg-admin component package
  bun.lock
  packages/lunchtable-tcg-admin/package.json
  packages/lunchtable-tcg-admin/src/client/index.ts
  packages/lunchtable-tcg-admin/src/component/_generated/api.ts
  packages/lunchtable-tcg-admin/src/component/_generated/dataModel.ts
  packages/lunchtable-tcg-admin/src/component/_generated/server.ts
  packages/lunchtable-tcg-admin/src/component/alerts.ts
  packages/lunchtable-tcg-admin/src/component/analytics.ts
  packages/lunchtable-tcg-admin/src/component/audit.ts
  packages/lunchtable-tcg-admin/src/component/config.ts
  packages/lunchtable-tcg-admin/src/component/convex.config.ts
  packages/lunchtable-tcg-admin/src/component/features.ts
  packages/lunchtable-tcg-admin/src/component/moderation.ts
  packages/lunchtable-tcg-admin/src/component/notifications.ts
  packages/lunchtable-tcg-admin/src/component/roles.ts
  packages/lunchtable-tcg-admin/src/component/schema.ts
  packages/lunchtable-tcg-admin/src/index.ts
  packages/lunchtable-tcg-admin/tsconfig.build.json
  packages/lunchtable-tcg-admin/tsconfig.json
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

fix: use underscores in component identifiers, regenerate types
  convex/_generated/api.d.ts
  convex/admin/crudGenerated.ts
  convex/infrastructure/triggers.ts
  packages/lunchtable-tcg-admin/src/component/convex.config.ts
  packages/lunchtable-tcg-ai/src/component/convex.config.ts
  packages/lunchtable-tcg-branding/src/component/convex.config.ts
  packages/lunchtable-tcg-cards/src/component/convex.config.ts
  packages/lunchtable-tcg-competitive/src/component/convex.config.ts
  packages/lunchtable-tcg-content/src/component/convex.config.ts
  packages/lunchtable-tcg-economy/src/component/convex.config.ts
  packages/lunchtable-tcg-email/src/component/convex.config.ts
  packages/lunchtable-tcg-game/src/component/convex.config.ts
  packages/lunchtable-tcg-guilds/src/component/convex.config.ts
  packages/lunchtable-tcg-marketplace/src/component/convex.config.ts
  packages/lunchtable-tcg-payments/src/component/convex.config.ts
  packages/lunchtable-tcg-progression/src/component/convex.config.ts
  packages/lunchtable-tcg-referrals/src/component/convex.config.ts
  packages/lunchtable-tcg-seasons/src/component/convex.config.ts
  packages/lunchtable-tcg-social/src/component/convex.config.ts
  packages/lunchtable-tcg-story/src/component/convex.config.ts
  packages/lunchtable-tcg-streaming/src/component/convex.config.ts
  packages/lunchtable-tcg-token/src/component/convex.config.ts
  packages/lunchtable-tcg-treasury/src/component/convex.config.ts
  packages/lunchtable-tcg-webhooks/src/component/convex.config.ts
Due: biome check --write --no-errors-on-unmatched || true

chore: delete convex files replaced by component packages
  convex/alerts/channels.ts
  convex/alerts/history.ts
  convex/alerts/notifications.ts
  convex/alerts/rules.ts
  convex/alerts/webhooks.ts
  convex/content/publishing.ts
  convex/content/scheduledContent.ts
  convex/email/lists.ts
  convex/email/send.ts
  convex/email/templates.ts
  convex/feedback/feedback.ts
  convex/tokenAnalytics/holders.ts
  convex/tokenAnalytics/metrics.ts
  convex/tokenAnalytics/rollup.ts
  convex/tokenAnalytics/trades.ts
Due: biome check --write --no-errors-on-unmatched || true

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

refactor: add explicit Convex Id type casts for improved type safety across game engine files.
  convex/gameplay/gameEngine/selectionEffects.ts
  convex/gameplay/gameEngine/spellsTraps.ts
  convex/gameplay/gameEngine/stateBasedActions.ts
  convex/gameplay/gameEngine/summons.ts
  convex/gameplay/gameEngine/turns.ts
  convex/gameplay/gameEngine/viceSystem.ts
  convex/gameplay/gameEvents.ts
  convex/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

feat: Introduce webhooks table and enhance type safety for ID references in gameplay logic.
  convex/gameplay/games/queries.ts
  convex/gameplay/legalMoves.ts
  convex/schema.ts
Due: biome check --write --no-errors-on-unmatched || true

docs: add OSS white-label TCG framework design
  docs/plans/2026-02-14-oss-tcg-framework-design.md
Due: biome format --write --no-errors-on-unmatched || true

docs: add Phase 1 implementation plan for OSS TCG framework
  docs/plans/2026-02-14-oss-tcg-framework-plan.md
Due: biome format --write --no-errors-on-unmatched || true

feat(engine): scaffold @lunchtable-tcg/engine with types, cards, and validation
  bun.lock
  package.json
  packages/engine/package.json
  packages/engine/src/__tests__/cards.test.ts
  packages/engine/src/cards.ts
  packages/engine/src/index.ts
  packages/engine/src/types/cards.ts
  packages/engine/src/types/commands.ts
  packages/engine/src/types/config.ts
  packages/engine/src/types/events.ts
  packages/engine/src/types/index.ts
  packages/engine/src/types/state.ts
  packages/engine/tsconfig.build.json
  packages/engine/tsconfig.json
  packages/engine/vitest.config.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched || true, biome format --write --no-errors-on-unmatched || true

feat(engine): implement core engine with state management and phase logic
  packages/engine/src/__tests__/engine.test.ts
  packages/engine/src/__tests__/phases.test.ts
  packages/engine/src/engine.ts
  packages/engine/src/index.ts
  packages/engine/src/rules/index.ts
  packages/engine/src/rules/phases.ts
Due: biome check --write --no-errors-on-unmatched || true

feat(engine): implement summoning handlers — normal, tribute, set, flip
  packages/engine/src/__tests__/summoning.test.ts
  packages/engine/src/engine.ts
  packages/engine/src/rules/index.ts
  packages/engine/src/rules/summoning.ts
Due: biome check --write --no-errors-on-unmatched || true

Path conditions:
  biome check --write --no-errors-on-unmatched || true: any of: *.{js,jsx,ts,tsx}
  biome format --write --no-errors-on-unmatched || true: any of: *.{json,md}
